{% extends 'baseNotification.html.twig' %}

{% block body %}
<div class="container">
    <h1>Nouvelle série !!</h1>
    <p>La série <strong>{{ program.title }}</strong> vient d'être ajoutée</p>
    <p><img src="{{program.poster}}" alt="poster"></p>
    <p>
        Tu peux la voir immédiatement en <a href="{{ url('program_show', {'slug': program.slug}) }}">cliquant ici</a>
    </p>
    <h2>Catégorie : <em><u>{{ program.category.name }}</u></em></h2>
    <p>
        Voici le résumé de la nouvelle série :<br><br>
        {{ program.summary }}
    </p>
    <h2>Acteurs :</h2>
    <ul>
        {% for actor in program.actors %}
            <li>{{ actor.name }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
