{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <div class="container">
        <h1>Program</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ program.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ program.title }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ program.summary }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>{{ program.poster }}</td>
            </tr>
            </tbody>
        </table>
        {{ include('program/_delete_form.html.twig') }}
        <strong>Acteur :</strong>
        <ul class="list-group">
            {% for actor in program.actors %}
                <li class="list-group-item">{{ actor.name }} <a href="{{ path('wild_show_actor', {'slug': actor.slug}) }}"
                                                                class="btn btn-primary stretched-link">fiche acteur</a>
                </li>
            {% else %}
                <li class="list-group-item">Aucun acteur pour cette série</li>
            {% endfor %}
        </ul>
        <a href="{{ path('program_index') }}">back to list</a>
        <br>
        <a href="{{ path('program_edit', {'slug': program.slug}) }}">edit</a>
    </div>
{% endblock %}
