{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <h2>
            <a href="{{ path('wild_show_program', {programName: program.title|lower|replace({' ': '-'})}) }}">{{ program.title }}</a>
            <small class="text-muted"><a href="{{ path('wild_show_season', {'id' : season.id}) }}"
                                         class="">Saison {{ season.year }}</a></small></h2>
        <p>{{ program.summary }}</p>
        <hr>
        <h2>{{ episode.title }} <small class="text-muted">Episode {{ episode.number }}</small></h2>
        <p>{{ episode.synopsis }}</p>
        <h2>Laisser un commentaire :</h2>
        {% if is_granted('ROLE_SUBSCRIBER') %}
            {{ form_start(commentForm) }}
            {{ form_widget(commentForm) }}
            <button type="submit" name="btnComment" class="btn btn-primary">Envoyer</button>
            {{ form_end(commentForm) }}
        {% else %}
            <p>Vous devez être connecté.</p>
        {% endif %}
        <div>
            {% for comment in comments %}
            <div class="card">
                <p><em>De : {{ comment.author.pseudo }} | Note : {{ comment.rate }}</em></p>
            <p>{{ comment.comment }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
