{% extends 'base.html.twig' %}

{% block title %}Actor index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Actor index</h1>
        <a href="{{ path('actor_new') }}" class="btn btn-info">Create new</a>

        <div class="table-responsive-lxl">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for actor in actors %}
                    <tr>
                        <td>{{ actor.id }}</td>
                        <td>{{ actor.name }}</td>
                        <td>
                            <a href="{{ path('actor_show', {'id': actor.id}) }}" class="btn btn-primary">show</a>
                            <a href="{{ path('actor_edit', {'id': actor.id}) }}" class="btn btn-secondary">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
